input[type="radio"] {
  display: none;
}

label {
  display: block;
  cursor: pointer;
  font-size: 14px;
  color: hsl(236, 9%, 61%);
}

input[type="radio"]:checked + label, input[type="radio"]:hover:checked + label {
  color: hsl(220, 98%, 61%);
}

input[type="radio"]:hover ~ label {
  color: var(--text-color);
}
