@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Josefin+Sans:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-size: 16px;
}

.dark {
  --body-background-color: hsl(235, 21%, 11%);
  --todo-background-color: hsl(235, 24%, 19%);
  --text-color: hsl(234, 39%, 85%);
  --text-checked-color:  hsl(233, 14%, 35%);
}

.light {
  --body-background-color: hsl(236, 33%, 92%);
  --todo-background-color: white;
  --text-color: hsl(235, 19%, 35%);
  --text-checked-color:  hsl(0, 0%, 83%);
}

body {
  background-color: var(--body-background-color);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (min-width: 375px) {
  * {
    font-size: 18px;
  }
}
